@{
    ViewData["Title"] = "Главная";
}

<div style="padding: 10px;"></div>
@if (User.Identity.IsAuthenticated)
{
  <div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title text-center">Добро пожаловать на AUDI-MARKET</h5>
            <p class="card-text">
                <h5 class="text-grey font-weight-light pb-3 pt-1 text-center">
                На данный момент компания входит в тройку лидирующих производителей класса «премиум».
                В сложный 2020 год, отмеченный глобальными ограничениями из-за пандемии коронавируса,
                Audi поставила в общей сложности 1 692 773 модели.
                Тем не менее последний квартал стал самым успешным за всю историю AUDI AG:
                с октября по декабрь компания передала своим клиентам 505 583 автомобиля.
                </h5>
            </p>
            <p style="text-align:center"><span style="font-family:Georgia,serif"><span style="font-size:26px"><strong>Audi &ndash; Превосходство высоких технологий!</strong></span></span></p>
    <p class="card-text"><small class="text-muted">By Sokaster</small></p>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @if (User.IsInRole("Admin"))
  {
    <div class="col">
      <div class="card h-100">
                    <img src="https://www.audi.by/dam/nemo/models/a3/a3-limousine/my-2021/_update-presales/1920x1080-mtc-xl-16-9/1920x1080-audi-a3-limousine-led-headlights-updated.jpg?imwidth=1920" class="card-img-top card-image" />
        <div class="card-body text-center">
          <h5 class="card-title">AUDI A3</h5>
                        <p class="card-text">
                            <span style="font-family:Georgia,serif">Новый <strong>AUDI </strong></span><span style="font-family:Arial,Helvetica,sans-serif"><strong>A3</strong></span><span style="font-family:Georgia,serif"> &mdash; создан для клиентов, которые ценят в автомобилях, даже компактных, не только элегантность, но и умение произвести впечатление на окружающих.
                                Он впечатляет своим стильным спортивным внешним видом и высококачественной, в лучших традициях марки, отделкой салона.
                                Каждая деталь говорит о том, что это &mdash; премиум.</span>
                        </p>
        </div>
        <div class="card-footer text-center">
          <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
        </div>
      </div>
    </div> 
  }
  <div class="col">
    <div class="card h-100">
                <img src="https://www.audi.by/content/dam/nemo/models/a4/a4-limousine/my-2021/1920x1080-inline-media-gallery/1920x1080-audi-a4-sedan-exterior-AA4_L_191004_1.jpg?imwidth=1459" class="card-img-top card-image" />
      <div class="card-body text-center">
        <h5 class="card-title">AUDI A4</h5>
        <p class="card-text">
                        <span style="font-family:Georgia,serif">Благодаря прогрессивному дизайну с современной передней оптикой,&nbsp;идеальными пропорциями кузова и стремительными силуэтными линиями, спортивный характер седана Audi A4 проявляется как никогда ранее.&nbsp;Высококачественный и функциональный интерьер, инновационные технологии в области цифровых и мультимедийных систем, ассистенты помощи водителю последнего поколения, а также линейка мощных двигателей &ndash; новый седан <strong>Audi А4</strong> уверенно заявляет о себе уже со старта.</span>
        </p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
      </div>
    </div>
  </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
                <img src="https://www.audi.by/content/dam/nemo/models/a5/a5-sportback/my-2021/1920x1080-inline-media-gallery/1920x1080-audi-a5-sportback-AA5_SB_191007_1.jpg?imwidth=1459" class="card-img-top card-image" />
      <div class="card-body text-center">
        <h5 class="card-title">AUDI A5</h5>
                    <p class="card-text">
                        <span style="font-family:Georgia,serif">С <strong>A5 Sportback </strong>вы выделяетесь среди других. Выразительный дизайн делает эту пятидверную модель просторной и вместительной. Кроме того, она оснащена такими передовыми технологиями, как опциональные светодиодные фары Matrix-LED и многофункциональная информационно-развлекательная платформа.</span>  С A5 Sportback вы выделяетесь среди других. Выразительный дизайн делает эту пятидверную модель просторной и вместительной.
                        Кроме того, она оснащена такими передовыми технологиями,
                        как опциональные светодиодные фары Matrix-LED и многофункциональная информационно-развлекательная платформа.
                    </p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
      </div>
    </div>
  </div>
 <div class="col">
    <div class="card h-100">
            <img src="https://www.audi.by/content/dam/nemo/ru/models/a6/a6/my-2018/1920x1080-inline-media-gallery/1920x1080_CLASSIC_M03_SEDAN_COMP_25_FINAL_FLAT.jpg?imwidth=1459" class="card-img-top card-image" />
      <div class="card-body text-center">
        <h5 class="card-title">AUDI A6</h5>
                <p class="card-text">
                        <span style="font-family:Georgia,serif">Дизайн дополняет динамику, стиль подчеркивает спортивный характер. Сочетание передовых технологий и точности исполнения, изящество в каждой линии. Совершенные формы, выдающаяся функциональность и торжество прогресса. Все это новый лидер представительского класса &mdash; <strong>Audi A6</strong>. Спортивный как никогда. И как всегда превосходный.</span>
                </p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
      </div>
    </div>
  </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://www.audi.by/content/dam/nemo/by/Models/A7/new-a7-sportback/my-2018/1920x1080-inline-media-gallery/1920x1080_InlineMediaGalerie_Modul3_AA7_171022.jpg?imwidth=1459" class="card-img-top card-image" />
            <div class="card-body text-center">
                <h5 class="card-title">AUDI A7</h5>
                <p class="card-text">
                    <span style="font-family:Georgia,serif"><strong>&nbsp;Audi A7 Sportback</strong> - уникальный автомобиль.&nbsp;В нем сочетаются лаконичная элегантность седана, очевидная функциональность универсала и эмоциональная динамичность купе. Все это делает <strong>Audi A7 Sportback</strong> автомобилем особого класса.</span>
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="https://www.audi.by/content/dam/nemo/ru/models/a8/a8/my-2018/1920x1080-inline-media-gallery/1920x1080_InlineMediaGallery_AA8_171002.jpg?imwidth=1459" class="card-img-top card-image" />
            <div class="card-body text-center">
                <h5 class="card-title">AUDI A8</h5>
                <p class="card-text">
                        <span style="font-family:Georgia,serif">&nbsp;Превосходство технологий &mdash; это то, что мы обещаем всем поклонникам нашего бренда.&nbsp;И никогда прежде это обещание не было реализовано так разносторонне и так полно, как в новом <strong>Audi A8</strong>. Он знаменует собой рождение нового языка дизайна, новой концепции управления, нового уровня качества.&nbsp; Новый <strong>Audi A8</strong> представляет будущее автомобилей премиум-класса.</span>
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
            </div>
        </div>
    </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="https://www.audi.by/content/dam/nemo/models/q3/q3/my-2019/1920x1080-inline-media-gallery/1920x1080-AQ3_181001.jpg?imwidth=1459" class="card-img-top card-image" />
            <div class="card-body text-center">
                <h5 class="card-title">AUDI Q3</h5>
                <p class="card-text">
                    <span style="font-family:Georgia,serif">&nbsp;Новый<strong> Audi Q3</strong> &mdash; универсальный семейный кроссовер, наделенный различными талантами. Модель второго поколения не просто отличается новым ярким и харизматичным обликом,&nbsp;она стала более просторной и универсальной. Как и все модели Audi нового поколения,&nbsp;кроссовер получил полностью цифровую концепцию отображения данных и управления,&nbsp;широкий набор информационно-развлекательных систем, инновационные ассистирующие системы, а также усовершенствованную подвеску, что обеспечивает новый уровень комфорта.</span>
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
            </div>
        </div>
    </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://www.audi.by/content/dam/nemo/models/q7/q7/my-2020/1920x1080-feature-gallery/1920x1080-exterior-front-AQ7_191002.jpg?imwidth=1459" class="card-img-top card-image" />
                <div class="card-body text-center">
                    <h5 class="card-title">AUDI Q7</h5>
                    <p class="card-text">
                        <span style="font-family:Georgia,serif">Новейшие технологии в области информационно-развлекательных систем и систем помощи водителю, убедительный опыт вождения благодаря полному приводу quattro и интеллектуальным решениям подвески, мощный дизайн и просторный салон, который с комфортом размещает до семи человек - это<strong> Audi Q7</strong>.</span>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Car" asp-action="GetCars" class="card-link">Список машин</a>
                </div>
            </div>
        </div>
    </div>
   

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Основные виды кузовов</h5>
    <p class="card-text">
                <span style="font-family:Georgia,serif">Тип кузовной конструкции легко определяется по внешнему виду автомобиля.&nbsp;Для каждого класса характерны отличительные черты, которые легко обнаружить даже при наличии небольшого опыта.&nbsp;Кроме того, свою роль в классификации играет и способ реализации багажного отделения, которое может быть объединено с пассажирским салоном или отделено от него</span>
    </p>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
@*  <div class="card-body">
    <h5 class="card-title">Наибольшим спросом пользуются легковые автомобили со следующими типами кузова</h5>
  </div>*@
  <ul class="list-group list-group-flush" id="ulListId">
 @*   <li class="list-group-item">Седан — самый распространенный вариант</li>      
    <li class="list-group-item">Универсал — семейный автомобиль с большими возможностями</li>
    <li class="list-group-item">Хэтчбек — укороченный вариант универсала</li>
    <li class="list-group-item">Лифтбек — комбинация универсала и седана</li>
    <li class="list-group-item">Купе — машина для ценителей личного пространства</li>
    <li class="list-group-item">Лимузин — показная роскошь</li>
    <li class="list-group-item">Кабриолет всегда притягивает взгляды</li>
    <li class="list-group-item">Внедорожник — повышенная прочность и надежность</li>
*@
 <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Sedan.png" class="card-img-top" alt="Седан">
                        <div class="card-body">
                            <h5 class="card-title text-center">Седан</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Universal.png" class="card-img-top" alt="Универсал">
                        <div class="card-body">
                            <h5 class="card-title text-center">Универсал</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Hetchbek.png" class="card-img-top" alt="Хетчбек">
                        <div class="card-body">
                            <h5 class="card-title text-center">Хетчбек</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Vnedorozhnik.png" class="card-img-top" alt="Внедорожник">
                        <div class="card-body">
                            <h5 class="card-title text-center">Внедорожник</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Coupe.png" class="card-img-top" alt="Купе">
                        <div class="card-body">
                            <h5 class="card-title text-center">Купе</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/limuzine.png" class="card-img-top" alt="Лимузин">
                        <div class="card-body">
                            <h5 class="card-title text-center">Лимузин</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Furgin.png" class="card-img-top" alt="Фургон">
                        <div class="card-body">
                            <h5 class="card-title text-center">Фургон</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Cabriolet.png" class="card-img-top" alt="Кабриолет">
                        <div class="card-body">
                            <h5 class="card-title text-center">Кабриолет</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="~/img/Miniven.png" class="card-img-top" alt="Минивен">
                        <div class="card-body">
                            <h5 class="card-title text-center">Минивен</h5>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Типы Авто</small>
                        </div>
                    </div>
                </div>
            </div>


  </ul>
  <div class="card-body">
    <button class="btn btn-danger" id="btnHideId">Скрыть</button>
    <button class="btn btn-primary" id="btnShowId">Показать</button>
  </div>
</div>
}
else
{
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="text-align:center"><span style="font-size:48px">💎💎💎</span><span style="font-size:36px"><strong><span style="font-family:Georgia,serif">Добро Пожаловать на AUDI-AUTOMARKET</span></strong></span><span style="font-size:48px">💎💎💎</span></p>
             @*   <p>Для полного просмотра сайта вы должны авторизоваться</p>*@
            </blockquote>
        </div>
    </div>
  <div class="card">
    <div class="card-header">
      Вы не авторизованы!
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
@*<p><span style="font-size:28px">⚠</span><span style="font-size:18px"><strong>Для полного просмотра сайта вы должны авторизоваться</strong></span></p>*@
                <p><span style="font-size:24px">⚠<strong>Для полного просмотра сайта вы должны авторизоваться</strong></span><span style="font-size:22px"><strong>⚠</strong>&nbsp;</span></p>
@*<p><span style="font-size:22px">🏁<strong>Аккаунт</strong>➡<strong>Регистрация</strong>✅</span></p>
<p><span style="font-size:22px">🏁<strong>Аккаунт</strong>➡<strong>Авторизация</strong>✅</span></p>*@
      </blockquote>
    </div>
  </div>
  
  <div style="padding: 10px;"></div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="~/img/gg3.jpg" class="card-img-top" alt="AUDI Q5">
        <div class="card-body">
                    <h5 class="card-title text-center">Недоступно ⛔</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">AUDI Q5</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/GreatCenter.jpg" class="card-img-top" alt="AUDI RS">
        <div class="card-body">
                    <h5 class="card-title text-center">Недоступно ⛔</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">AUDI RS-5</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/UnloggedRight.jpg" class="card-img-top" alt="AUDI RS7">
        <div class="card-body">
                    <h5 class="card-title text-center">Недоступно ⛔</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">AUDI RS-7</small>
        </div>
      </div>
    </div>
  </div>
}

@section pageScripts
{
    <script>
    
    $('#btnHideId').click(function(){
      $('#ulListId').hide(1000);
    });
    
    $('#btnShowId').click(function () {
      $('#ulListId').show(1000);
    });
  </script>
}
