.backgroundImage {
    background-image: url("https://images.wallpaperscraft.ru/image/single/zdanie_minimalizm_belyj_154825_3840x2160.jpg");
    background-size: cover;
    background-attachment: fixed;
}
