.backgroundImage {
    background-image: url("https://images.wallpaperscraft.ru/image/single/arhitektura_zdanie_minimalizm_127389_3840x2160.jpg");
    background-size: cover;
    background-attachment: fixed;
}
